<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cursos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Curso</th>
                <th>Inscripto</th>
            </tr>
        </thead>
<!-- Para utilizar variables de Python {{ doble llave}} -->
<!-- Para utilizar for, if  {% %} -->
        {% for nombre, inscriptos in cursos %}
        <tr>
            <td>{{nombre}}</td>
            <td>{{inscriptos}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

